.textkanan {
    display: flex;
    justify-content: center;

    display: flex;
}



.Link {
    text-decoration: none;
    color: inherit;
}

.Link1 {
    text-decoration: none;
    color: inherit;

    margin-left: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
   
    background-color: antiquewhite;
    padding: 32px;
    align-items: center;

}