.textkiri{
    display: flex;
 
   
    
}

.textkanan{
    align-items: center;
    text-align: center;
    display: flex;
    margin-right: 20px;
}



.Link{
     text-decoration: none;
    color: inherit;
}

.Link1{
     text-decoration: none;
    color: inherit;
    margin-left: 30px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 1270px;
    background-color: antiquewhite;
    
}