.wrapper {
  width: 100%;
  min-height: 100vh;
  background: #f6f4ef;
  padding-bottom: 60px;
  transition: 0.3s;
}

.dark {
  background: #1a1a1a !important;
  color: white !important;
}

.headerBox {
  background: #262626;
  color: white;
  padding: 60px 40px;
}

.headerBox h1 {
  font-size: 48px;
  margin: 0;
}

.headerBox p {
  opacity: 0.8;
  margin-top: 12px;
}

/* ----------- CARDS ----------- */
.cardContainer {
  margin-top: -40px;
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.card {
  width: 270px;
  height: 330px;
  background: #eaffff;
  border-radius: 25px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  border: none;
  padding: 25px 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0;
  transform: translateY(40px);
}

.card:hover {
  transform: translateY(-10px);
  background: #dcf9f9;
  box-shadow: 0 18px 35px rgba(0,150,150,0.35);
}

.card h2 {
  margin-top: 10px;
  font-size: 24px;
}

.card p {
  margin-top: 12px;
  font-size: 17px;
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
  color: #006f78;
}

/* Animasi muncul */
.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* ---------- DARK MODE SWITCH ---------- */
.switch {
  position: absolute;
  top: 20px;
  right: 20px;
}

.switch input {
  display: none;
}

.slider {
  width: 55px;
  height: 26px;
  background: #aaa;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.slider::after {
  content: "";
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  transition: 0.3s;
}

input:checked + .slider {
  background: #00b2b2;
}

input:checked + .slider::after {
  transform: translateX(28px);
}

/* DARK MODE STYLE */
.dark .headerBox {
  background: #000;
}

.dark .card {
  background: #2c2c2c;
  color: white;
}

.dark .card:hover {
  background: #333;
}

.dark .icon {
  color: #00d2d2;
}