
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px
}

.button{
  padding: 16px;
  margin-top: 50px;
  width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


.textmain{
  padding: 16px;
  height: 230px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
   box-shadow: 0px 10px 30px antiquewhite, 0px 10px 30px antiquewhite, 0px 15px 30px antiquewhite;
}

.text{
  padding: 80px;
  
}

.text > h1{
  font-size: 32pt;
}
