.container{
    height: 350px;
   
    background-color:antiquewhite ;
}
.buttonbutton{
    margin-top: 250px;
    display: flex;
    justify-content: space-evenly;
}

.buttonkiri{
  width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.buttonkiri > h3,p{
  margin-left: 20px;
}



.buttontengah{
   width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttontengah > h3,p{
  margin-left: 20px;
}

.buttontengah > h3{
 margin-top: 15px;
}


.buttonkanan{
   width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonkanan > h3,p{
  margin-left: 20px;
}

.buttonkanan > h3{
  margin-top: 15px;
}

.textmain{
  margin-left: 70px;
  
}

.textmain > h1{
  margin-left: 20px;
  
}