.box {
    width: 250px;
    height: 300px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 16px;
}

.box2 {
    display: flex;
    width: 250px;
    height: 300px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 16px;
}

.apisepatu {
    flex-direction: column;
    display: flex;
}

.box>p {
    margin-top: 5px;
}

.icon {
    height: 150px;
    width: 150px;
}

.icon2 {
    height: 80px;
    width: 80px;
}

.persen{
    background-color: aqua;
    border-radius: 40px;
    overflow: hidden;
    padding: 8px;
    
}

.kotakpersen {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 16px;
    
    
}

.kotakpersen>h2 {
    display: flex;
    align-items: left;
}

.icon3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kotak1 {
    width: 1000px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    font-size: 25px;
    font-style: bold;
    display: flex;
    align-items: center;


}

.boxs {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.text2{
    margin-top: 50px;
}